<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FcukWinforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FcukWinforms.Properties.Settings.ConnectionPeover"
            connectionString="Dsn=Peover;uid=thomasr;pwd=thomasr" providerName="System.Data.Odbc" />
        <add name="FcukWinforms.Properties.Settings.ConnectionLonda"
            connectionString="Dsn=FcukLonda;uid=itstaff01;pwd=monday1" />
        <add name="FcukWinforms.Properties.Settings.FcukIntegrationConnectionString"
            connectionString="Data Source=vmsqldev\sql2014;Initial Catalog=FcukIntegration;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FcukWinforms.Properties.Settings>
            <setting name="FcukIntegrationConnectionStringLIFE_user" serializeAs="String">
                <value>Data Source=vmsqldev\sql2014;Initial Catalog=FcukIntegration;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False</value>
            </setting>
            <setting name="FcukIntegrationConnectionStringFCUK_user" serializeAs="String">
                <value>Data Source=UKCAMVZLND01\SQLEXPRESS;Initial Catalog=FcukIntegration;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False</value>
            </setting>
        </FcukWinforms.Properties.Settings>
    </userSettings>
</configuration>
